.featured{
    height: 90vh;
    position: relative;
    
    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        select{
            cursor: pointer;
            background-color: var(--main-color);
            border: 2px solid white;
            color: white;
            margin-left: 20px;
            padding: 5px;
        }
    }

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .info{
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;
        // align-items: center;

        img{
           width: 300px;
        }
        .desc{
            margin:20px 0px;
        }
        .buttons{
            display: flex;
        
            button{
                padding:10px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 5px;
                margin-right: 10px;
               font-size: 18px;
               font-weight: 500;
               cursor: pointer;


               &.play{
                   background-color: white;
                   color: var(--main-color);
               }
               &.more{
                   background-color: grey;
                   color: white;
               }
               span{
                margin-left: 10px;
               }
            }
        }
    }
}